* {
	font-family: sans-serif;
	box-sizing: border-box;
}
*:not(input) {
	user-select: none;
}
:root {
	--color-primary: #00cc99;
	--color-accent: #9966cc;
}
body {
	margin: 0 auto;
}
main {
	position: relative;
	text-align: center;
	width: fit-content;
	margin: 0 auto;
}
img {
	width: 210mm;
	height: auto;
}
button {
	height: 32px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	margin-top: 12px;
	background-color: var(--color-primary);
	font-weight: 500;
	transition: all 250ms ease-in-out;
}
button:hover {
	background-color: #0affc1;
}
input {
	position: absolute;
	font-size: 12px;
	background: none;
	height: 17px;
	border: none;
	padding: 0 0 2px 0;
}
input[type=tel] {
	text-align: right;
}
input#nomeRem {
	top: 81px;
	left: 61px;
	width: 321px;
}
input#endereco1Rem {
	top: 101px;
	left: 82px;
	width: 298px;
}
input#endereco2Rem {
	top: 121px;
	left: 23px;
	width: 358px;
}
input#cidadeRem {
	top: 142px;
	left: 66px;
	width: 229px;
}
input#ufRem {
	top: 142px;
	left: 322px;
	width: 58px;
}
input#cepRem {
	top: 162px;
	left: 46px;
	width: 117px;
}
input#cpfRem {
	top: 162px;
	left: 229px;
	width: 151px;
}
input#nomeDest {
	top: 81px;
	left: 433px;
	width: 335px;
}
input#endereco1Dest {
	top: 101px;
	left: 456px;
	width: 312px;
}
input#endereco2Dest {
	top: 121px;
	left: 397px;
	width: 372px;
}
input#cidadeDest {
	top: 142px;
	left: 440px;
	width: 248px;
}
input#ufDest {
	top: 142px;
	left: 715px;
	width: 53px;
}
input#cepDest {
	top: 162px;
	left: 420px;
	width: 117px;
}
input#cpfDest {
	top: 162px;
	left: 603px;
	width: 165px;
}

input#item1Id {
	top: 217px;
	left: 22px;
	width: 47px;
}
input#item1Desc {
	top: 217px;
	left: 78px;
	width: 431px;
}
input#item1Quant {
	top: 217px;
	left: 519px;
	width: 113px;
}
input#item1Vaor {
	top: 217px;
	left: 640px;
	width: 128px;
}
input#item2Id {
	top: 236px;
	left: 22px;
	width: 47px;
}
input#item2Desc {
	top: 236px;
	left: 78px;
	width: 431px;
}
input#item2Quant {
	top: 236px;
	left: 519px;
	width: 113px;
}
input#item2Vaor {
	top: 236px;
	left: 642px;
	width: 128px;
}
input#item3Id {
	top: 255px;
	left: 22px;
	width: 47px;
}
input#item3Desc {
	top: 255px;
	left: 78px;
	width: 431px;
}
input#item3Quant {
	top: 255px;
	left: 519px;
	width: 113px;
}
input#item3Vaor {
	top: 255px;
	left: 642px;
	width: 128px;
}
input#item4Id {
	top: 274px;
	left: 22px;
	width: 47px;
}
input#item4Desc {
	top: 274px;
	left: 78px;
	width: 431px;
}
input#item4Quant {
	top: 274px;
	left: 519px;
	width: 113px;
}
input#item4Vaor {
	top: 274px;
	left: 642px;
	width: 128px;
}
input#item5Id {
	top: 293px;
	left: 22px;
	width: 47px;
}
input#item5Desc {
	top: 293px;
	left: 78px;
	width: 431px;
}
input#item5Quant {
	top: 293px;
	left: 519px;
	width: 113px;
}
input#item5Vaor {
	top: 293px;
	left: 642px;
	width: 128px;
}
input#totalQuant {
	top: 311px;
	left: 519px;
	width: 113px;
}
input#totalValor {
	top: 311px;
	left: 642px;
	width: 128px;
}
input#totalPeso {
	top: 330px;
	left: 519px;
	width: 250px;
}
input#dataCidade {
	top: 469px;
	left: 23px;
	width: 147px;
}
input#dataDia {
	top: 469px;
	left: 179px;
	width: 46px;
}
input#dataMes {
	top: 469px;
	left: 250px;
	width: 138px;
}
input#dataAno {
	top: 469px;
	left: 406px;
	width: 81px;
}
@media screen and (min-width: 210mm) and (min-height: 290mm) {
	html {
		background: linear-gradient(var(--color-primary), var(--color-accent));
		background-size: cover;
		background-repeat: no-repeat;
		width: 100vw;
		height: 100vh;
	}
	body {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: fit-content;
	}
}
@media screen {
	main {
		padding-right: 10px;
	}
	img {
		border-radius: 8px;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
	}
}
@media print {
	* {
		-webkit-print-color-adjust: exact !important;
	}
	@page {
		margin: 0;
	}
	html {
		background: none;
	}
	body {
		width: 210mm;
		height: 297mm;
	}
	button {
		display: none;
	}
}